.item{
    width: 350px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.items-price-new{
    color: green;
    font-size: 18px;
    font-weight: 600;
}
.items-price-old{
    color: red;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.item img{
    width: 200px;
    height: auto;
    border: 2px solid black;
}