.bookcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}
.bookcategory-indexsort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-content: center;
}
.bookcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid gray
}
.bookcategory-indexsort p span{
    font-weight: 600px;
}
.bookcategory-products{
    display: grid;
    margin: 20px 170px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.divbookcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: rgba(128, 128, 128, 0.195);
    font-size: 18px;
    font-weight: 500;
}