.book-manager {
  max-width: 1000px;
  margin: 60px auto;
  padding: 40px;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.book-form,
.fetch-book,
.all-books {
  margin-bottom: 40px;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.book-form h2,
.fetch-book h2,
.all-books h2 {
  margin-top: 0;
  font-size: 24px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  font-size: 18px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #3e8e41;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

.all-books {
  padding: 40px;
}

.all-books h3 {
  margin-top: 0;
  font-size: 24px;
}

.all-books p {
  margin-bottom: 20px;
  font-size: 18px;
}

input {
  display: block;
  margin-bottom: 20px;
}

input[type="file"] {
  margin-left: 20px;
}

/* Notification container */
#notification-container {
  position: center;
  top: 40px;
  right: 40px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Notification styling */
.notification {
  background-color: #4caf50;
  color: green;
  padding: 40px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  opacity: 0.95;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-40px);
}

.notification.error {
  background-color: #f44336;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.notification {
  animation: slideIn 0.3s ease-in-out, fadeOut 0.3s ease-in-out 2.7s;
}

@keyframes slideIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
